<section class="mt-5 container" style="height: 130vh">
    <h1 class="text-center"></h1>
    <h1 class="text-center"></h1>
    <h1 class="text-center"></h1>
  
    <section class="mt-4">
      <form action="">
        <div class="px-5 py-4 w-100" style="border-radius: 25px; background-color: #7bc9ff;">
            <div class="divEtabissement px-4 mb-4">
               <h2 class="">Information de l'eleve </h2>
               <div class="row">
                <p class="col-3">
                    <label for="">Nom(s) et Prenom(s) du Tuteur</label>
                    <input type="text" class="select form-control" placeholder="koukodila le sage"/>
                </p>
                <p class="col-3">
                    <label for="">Profession du Tuteur</label>
                    <input type="text" class="select form-control" placeholder="developpeur"/>
                </p>
                <p class="col-3">
                    <label for="">Email du Tuteur</label>
                    <input type="text" class="select form-control" placeholder="koukodilaexauce636@gmail.com"/>
                </p>
                <p class="col-3">
                    <label for="">Contact du Tuteur</label>
                    <input type="text" class="select form-control" placeholder="+242 06 606 25 94"/>
                </p>
               </div>
               <div class="row">
                <p class="col-3">
                    <label for="">Nom(s) et Prenom(s) du Pere</label>
                    <input type="text" class="select form-control" placeholder="koukodila yannick"/>
                </p>
                <p class="col-3">
                    <label for="">Profession du Pere</label>
                    <input type="text" class="select form-control" placeholder="developpeur"/>
                </p>
                <p class="col-3">
                    <label for="">Email du Pere</label>
                    <input type="text" class="select form-control" placeholder="koukodilayannick123@gmail.com"/>
                </p>
                <p class="col-3">
                    <label for="">Contact du Pere</label>
                    <input type="text" class="select form-control" placeholder="+242 06 806 05 94"/>
                </p>
               </div>
               <div class="row">
                <p class="col-3">
                    <label for="">Nom(s) et Prenom(s) du Mere</label>
                    <input type="text" class="select form-control" placeholder="koukodila exaucee"/>
                </p>
                <p class="col-3">
                    <label for="">Profession du Mere</label>
                    <input type="text" class="select form-control" placeholder="developpeuse"/>
                </p>
                <p class="col-3">
                    <label for="">Email du Mere</label>
                    <input type="text" class="select form-control" placeholder="koukodilaexaucee999@gmail.com"/>
                </p>
                <p class="col-3">
                    <label for="">Contact du Mere</label>
                    <input type="text" class="select form-control" placeholder="+242 06 806 05 51"/>
                </p>
               </div>
               <div class="row">
                <p class="col-3">
                    <label for="">Numero de frere</label>
                    <input type="text" class="select form-control" placeholder="06"/>
                </p>
                <p class="col-3">
                    <label for="">Numero de soeur</label>
                    <input type="text" class="select form-control" placeholder="06"/>
                </p>
                <p class="col-3">
                    <label for="">Adresse</label>
                    <input type="text" class="select form-control" placeholder="adresse"/>
                </p>
                <p class="col-3"></p>
               </div>
            </div>
        </div>
        <div class="mt-4" style="position: relative;">
            <button type="submit" class="btn form-control" style="color: white; position: absolute; right: 20px; width: 200px; background-color: #7bc9ff; border-radius: 15px;">Informations familliales</button>
            <button type="submit" class="btn btn-danger form-control" style=" position: absolute; left: 80px; width: 100px; border-radius: 15px;">Retour</button>
        </div>
      </form>
    </section>
  </section>
  
  
  <ng-template #loading>
    <div class="text-center pt-5">
        <div class="spinner-border text-primary text-center col-2 m-auto" role="status"></div>  
        <!-- <p>Chargement de la liste...</p> -->
    </div>
  </ng-template>