<section class="mt-5 container" style="height: 130vh">
    <h1 class="text-center"></h1>
    <h1 class="text-center"></h1>
    <h1 class="text-center"></h1>
  
    <section class="mt-4">
      <form action="">
        <div class="div1 d-flex" style="justify-content: space-around">
          <div class="divImage">
            <p>
              <img src="../../assets/images/1.jpg" alt="" style="width: 250px; height: 300px; border: 1px solid black;"/>
            </p>
            <p class="w-75">
              <b>MATRICULE : <span style="color: #7bc9ff;">C_2i-1000</span></b>
              <input type="submit" class="btn form-control mt-2" style="background-color: #7bc9ff; border-radius: 25px" value="Ajouter une image"/> <br>
              <button class="btn mt-2 w-75" style="background-color: #7bc9ff; margin-left: 50%; transform: translateX(-50%);">Imprimer <br> le document</button>
            </p>
          </div>
          <div class="px-5 py-4 w-75" style="border-radius: 25px; background-color: #7bc9ff;">
            <div class="divEtabissement px-4 mb-4">
              <h2 class="">Information de l'eleve </h2>
  
              <div class="row">
                <p class="col-4">
                   <label for="">Nom(s)</label>
                   <input type="text" class="select form-control" placeholder="nom de l'eleve"/>
                </p>
                <p class="col-4">
                    <label for="">Pom(s)</label>
                    <input type="text" class="select form-control" placeholder="prenom de l'eleve"/>
                 </p>
                 <p class="col-4">
                    <label for="Departement">Sexe</label>
                    <select class="form-select" id="validationCustom04" name="IDDEPARTEMENT">
                        <option>F</option>
                        <option>M</option>
                    </select>
                 </p>
              </div>
              <div class="row">
                <p class="col-4">
                   <label for="">Date de naissance</label>
                   <input type="date" class="select form-control" placeholder="nom de l'eleve"/>
                </p>
                <p class="col-4">
                    <label for="Departement">Lieu de naissance</label>
                    <select class="form-select" id="validationCustom04" name="IDDEPARTEMENT">
                        <option></option>
                    </select>
                 </p>
                 <p class="col-4">
                    <label for="Departement">Departement de naissance</label>
                    <select class="form-select" id="validationCustom04" name="IDDEPARTEMENT">
                        <option></option>
                    </select>
                 </p>
              </div>
              <div class="row">
                <p class="col-4">
                    <label for="Departement">Nationnalitee</label>
                    <select class="form-select" id="validationCustom04" name="IDDEPARTEMENT">
                        <option></option>
                    </select>
                 </p>
                 <p class="col-4">
                    <label for="Departement">Departement d'origine</label>
                    <select class="form-select" id="validationCustom04" name="IDDEPARTEMENT">
                        <option></option>
                    </select>
                 </p>
                 <p class="col-4">
                    <label for="Departement">Etat sanitaire</label>
                    <select class="form-select" id="validationCustom04" name="IDDEPARTEMENT">
                        <option></option>
                    </select>
                 </p>
              </div>
              <div class="row">
                <p class="col-4">
                    <label for="Departement">Statuts</label>
                    <select class="form-select" id="validationCustom04" name="IDDEPARTEMENT">
                        <option></option>
                    </select>
                 </p>
                 <p class="col-4">
                    <label for="Departement">Nouveau/Ancien</label>
                    <select class="form-select" id="validationCustom04" name="IDDEPARTEMENT">
                        <option></option>
                    </select>
                 </p>
                 <p class="col-4">
                    <label for="Departement">Redoublant/Nom redoublant</label>
                    <select class="form-select" id="validationCustom04" name="IDDEPARTEMENT">
                        <option></option>
                    </select>
                 </p>
              </div>
              <div class="row">
                <p class="col-4"></p>
                <p class="col-4">
                    <label for="Departement">Identifiant scolaire unique</label>
                    <select class="form-select" id="validationCustom04" name="IDDEPARTEMENT">
                        <option></option>
                    </select>
                 </p>
                 <p class="col-4"></p>
              </div>
            </div>
          </div>
        </div>

        <div class="div1 d-flex" style="justify-content: space-around">
            <div class="divImage">
              <p><img src="" alt="" style="width: 250px" /></p>
            </div>

            <div class="row container px-5 py-3 w-75 mt-3" style="background-color: #7bc9ff; border-radius: 25px">
                <h2>Domicile et contact</h2>
                <div class="col-6">
                    <label for="Departement">Departement de residence</label>
                    <select class="form-select" id="validationCustom04" name="IDDEPARTEMENT">
                        <option></option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="Departement">Arrondissement</label>
                    <select class="form-select" id="validationCustom04" name="IDDEPARTEMENT">
                        <option></option>
                    </select>
                </div>
                <div class="col-6">
                  <label for="">Contact</label>
                  <input type="text" class="select form-control" name="NomPrenomResponsable"/>
                </div>
                <div class="col-6">
                  <label for="">Email</label>
                  <input type="tel" class="select form-control" name="TelephoneResponsable"/>
                </div>
                <div style="height: 20px"></div>
            </div>
        </div>
  

  
        <div class="mt-3" style="position: relative;">
          <button type="submit" class="btn form-control" style="color: white; position: absolute; right: 20px; width: 200px; background-color: #7bc9ff; border-radius: 15px;">Informations familliales</button>
          <button type="submit" class="btn btn-danger form-control" style=" position: absolute; left: 80px; width: 100px; border-radius: 15px;">Retour</button>
        </div>
      </form>
    </section>
  </section>
  
  
  <ng-template #loading>
    <div class="text-center pt-5">
        <div class="spinner-border text-primary text-center col-2 m-auto" role="status"></div>  
        <!-- <p>Chargement de la liste...</p> -->
    </div>
  </ng-template>