

.mat-elevation-z8 table.table-hover tr{
    color: #fff;
    // background-color: #007bff; 
    background-color: #7bc9ff;
}

.mat-elevation-z8 table.table-hover th{
    text-align: center;
}

.mat-elevation-z8 table.table-hover td {
    text-align: center;
}

.mat-elevation-z8 table.table-hover tr:hover td {
    color: #fff; 
    background-color: #007bff; 
    // background-color: #7bc9ff;
}
  